.pagination {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    a {
        width: 30px;
        height: 30px;
        border: 1px solid rgb(254, 114, 76);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(254, 114, 76);
        cursor: pointer;
        
    }
    
    :global {
        .selected {
            a {
                background: rgb(254, 114, 76);
                color: white;
            }
            
        }
        .previous.disabled,
        .next.disabled {
            display: none;
        } 
    }
}